f"""Привет! Это тестовое письмо, не пугайтесь. 

Это отчет команды автоматического синтеза!

Отчет сформимрован {current_timestamp}, всего было синтезировано {oligos_val} олигов.

Можно забрать в плашке с именем {EXPERIMENT_NAME}, лунки смотри в приложении в файле {RUNFILE}.
"""
